/* ---------- Color Module Styles ----------- */

body {
  color: #37292d;
  background: #292929;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fefefe;
}
.tabs ul.primary li a.is-active {
  background-color: #fefefe;
}
.tabs ul.primary li.is-active a {
  border-bottom-color: #fefefe;
  background-color: #fefefe;
}
#header {
  background-color: #343a40;
  background-image: -webkit-linear-gradient(top, #adb5bd 0%, #343a40 100%);
  background-image: linear-gradient(to bottom, #adb5bd 0%, #343a40 100%);
}
a,
.link {
  color: #0081a7;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #02a6d6;
}
a:active,
.link:active {
  color: #21c7f8;
}
.sidebar .block {
  border-color: #f9f9f9;
  background-color: #f6f6f2;
}
.site-footer {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #1f2d73;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-right: 20px;
  margin-left: 0;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
